// Typography
$font-primary: 'Lato', sans-serif;
$font-secondary: 'Open Sans', sans-serif;

// Colors
$clr-txt: #1a1616;
$clr-primary: #ffffff;
$clr-secondary: #e9e0e0;
$clr-black: #000000;

// Borders
$border-primary: 1px solid $clr-txt;
$border-small: 4px;
$border-round: 50%;

// Classes
.bold {
    font-weight: 700;
}

// Mixins
@mixin post {
    margin-block: 1em;
    border: $border-primary;
    border-radius: $border-small;
    background-color: $clr-secondary;
    padding: .5em;
}

@mixin button {
    padding: 5px 15px;
    cursor: pointer;
}